#glCanvas {
  height: 800px;
  width:1200px;
  margin: auto;

  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0 5px 10px rgb(0, 0, 0); 
  box-sizing: border-box;
}